<article>
    <h1>login</h1>
    <form action="/sessions" method="post">
        <label for=""></label>
        <label for="email">email</label>
        <input type="text" name="email" id="">
    
        <label for="password">password</label>
        <input type="password" name="password">
    
        <button class="planet-btns">login</button>
    </form>
    <!-- <a href="/users/new">create account</a> -->
</article>