<article>
    <h2>Add Planet</h2>
    <form action="/planets" method="post">
        <input type="hidden" name="_method" value="post">
        <label for="name">name</label>
        <input type="text" name="name">
        <label for="diameter">diameter</label>
        <input type="text" name="diameter">
        <label for="mass">mass</label>
        <input type="text" name="mass">
        <label for="moon_count">moon count</label>
        <input type="text" name="moon_count">
        <label for="image_url">image url</label>
        <input type="text" name="image_url">
        <button class="planet-btns">add</button>
    </form>
</article>