<article>
    <h2>Create Account</h2>
    <form action="/users" method="post">
        <input type="hidden" name="_method" value="post">
        <label for="name">email</label>
        <input type="text" name="email">
        <label for="password">password</label>
        <input type="password" name="password">
        <button class="planet-btns">sign up</button>
    </form>
</article>